Package: com.qzliq.freefire
Name: qzliqmod
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: qzliq
Author: qzliq
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
